.table {
  .table__heading {
    padding-left: 10px;

    @media screen and (max-width: 768px) {
      padding: 0;
    }
  }
  tr {
    td img {
      width: 100px;
      height: 100px;
      object-fit: cover;

      @media screen and (max-width: 768px) {
        width: 70px;
        height: 70px;
      }
    }
    td i {
      cursor: pointer;
    }
  }
  .quantity {
    .add,
    .subtract {
      border: solid 1px grey;
      background: rgb(242, 239, 239);
      border-radius: 99px;
      &:hover {
        background: rgb(69, 67, 67);
        color: #fff;
      }
    }
    span {
      padding: 0 10px;
    }
  }
  .delete__icon {
    padding-left: 20px;
    &:hover {
      color: red;
    }
  }
}

.subTotal__container {
  h6 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .total {
    margin-bottom: 15px;

    span {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
  p {
    margin-bottom: 20px;
  }
  .buy__btn {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #000;
    &:hover {
      background-color: #545252;
    }
  }

  @media screen and (max-width: 991px) {
    margin-top: 50px;
  }
}

.empty__cart {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 10vh;

  img {
    height: 200px;
    width: 200px;
  }
  .buy__btn {
    margin-top: 30px;
    border-radius: 999px;
    background-color: #000;
    &:hover {
      background-color: #545252;
    }
  }
}
