.billing_form {
  .form_group input {
    width: 100%;
    border: 1px solid var(--card-bg-02);
    padding: 8px 20px;
  }
}

.checkout__cart {
  padding: 20px;
  background: #0a1d37;
  color: #fff;
  border-radius: 5px;
  h6,
  h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h6 {
    margin-bottom: 20px;
  }

  h4 {
    border-top: 1px solid grey;
    padding-top: 20px;
  }

  .buy__btn {
    background: #fff;
    color: #000;
    border: 1px solid #000;
    &:hover {
      background: #3a5477;
      color: #fff;
      border: 1px solid #fff;
    }
  }
}
.processing__container {
  .processing {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 50vh;
    .icon {
      width: 50vh;
      margin: 0;
      padding-top: 20px;
      // @media screen and (min-height: 990px) {
      //   width: 400px;
      // }
    }
    p {
      position: absolute;
      margin: 0;
      padding-top: 10px;
      margin-top: 100px;
      color: #000;
      font-size: 2rem;
    }
  }
}
