.login__container {
  .row {
    min-height: 40vh;
    .auth__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px;
      background: var(--primary-color);

      border-radius: 10px;
      .form__group {
        width: 100%;
        input {
          padding: 8px 20px;
          width: 100%;
        }
      }

      .button_container {
        display: flex;
        gap: 50px;
        @media screen and (max-width: 1199px) {
          flex-direction: column;
          gap: 0px;
          margin-top: 15px;
          .buy__btn {
            margin-top: 2px;
          }
        }

        .buy__btn {
          background: #e0dada;
          color: #000;
          margin-bottom: 20px;
          border: 1px solid #000;
          padding: 5px;

          &:hover {
            background: #3a5477;
            color: #fff;
            border: 1px solid #fff;
          }
        }
      }
      a {
        color: #ffffffd6;
        &:hover {
          color: rgb(175, 175, 232);
          cursor: pointer;
        }
      }
    }
  }
}
