.product__item {
  margin-top: 30px;

  &:hover {
    box-shadow: 0 0 15px rgba(190, 188, 188, 0.338);
    img {
      transform: scale(1.1);
    }
    i {
      display: inline;
      &:hover {
        color: #3a5477;
        cursor: pointer;
      }
    }
  }

  .product__img {
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &:hover {
      background: linear-gradient(rgba(209, 26, 26, 0.629));
    }

    .link__icon {
      position: absolute;
      z-index: 20;
      top: 10px;
      right: 10px;
      display: none;
      font-size: 1.5rem;
      color: var(--favourites);
      &:hover {
        display: block;
        i {
          color: var(--favourites);
        }
      }
    }
    img {
      transition: transform 0.3s ease;
      &:hover + .link__icon {
        display: block;
        cursor: pointer;
      }
    }
  }

  h3 {
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 15px;
    transition: transform 0.3s ease;
  }

  .product__info {
    font-size: 0.9rem;
    height: 100%;
  }

  .product__card_btn {
    .price {
      color: var(--primary-color);
      font-size: 1.3rem;
      font-weight: 500;
    }
    i {
      font-size: 2rem;
      padding: 5px;
      display: none;
    }
  }
  &:hover {
    box-shadow: 0 0 15px rgba(190, 188, 188, 0.338);
    img {
      transform: scale(1.1);
    }
    i {
      display: inline;
    }
  }
}
