.shop__container {
  min-height: 11vh;

  .filter__widget select {
    padding: 8px 20px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;

    &:focus {
      outline: none;
    }

    option {
      background-color: var(--primary-color); // Set the background color
      color: #fff; // Set the text color
    }
  }

  .search__box {
    width: 100%;

    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      border: none;
      background: transparent;
      outline: none;
      padding: 8px 20px;
      width: 100%;
      &:focus {
        border: none;
      }
    }
    span i {
      font-size: 26px;
      padding-right: 10px;
      color: var(--primary-color);
      cursor: pointer;
    }
  }

  @media screen and (max-width: 991px) {
    .filter__widget {
      margin-bottom: 30px;

      select {
        padding: 7px 20px;
        font-size: 0.9rem;
      }
    }
  }
  @media screen and (max-width: 799) {
  }
}
.products__container {
  height: 100%;
  min-height: 23vh;
  display: flex;
  align-items: center;
  padding-top: 10px;
  h1 {
  }
}
