.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: relative;
  justify-content: center;

  .nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .logo {
      display: flex;
      align-items: center;
      column-gap: 8px;

      img {
        width: 1.5rem;
        height: 1.5rem;
      }
      h1 {
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--primary-color);
        span {
          color: var(--pink-highlight);
        }
      }
    }
    .navigation {
      .menu {
        display: flex;
        align-items: center;
        column-gap: 2.7rem;
        margin-bottom: 0;
        transition: 0.7s;

        .nav__item a {
          color: var(--primary-color);
          font-weight: 400;
          cursor: pointer;

          &.active {
            font-weight: 700;
          }
        }
      }
    }

    .nav__icons {
      display: flex;
      align-items: center;
      color: var(--primary-color);
      gap: 1.2rem;

      .fav__icon,
      .cart__icon {
        position: relative;
        cursor: pointer;

        > .badge {
          position: absolute;
          top: 30%;
          right: -5px;
          width: 13px;
          height: 13px;
          content: "";
          background: var(--primary-color);
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          border-radius: 50px;
          font-size: 0.7rem;
          font-weight: 600;
          z-index: 10;
        }
      }
      span i {
        font-size: 1.2rem;
      }
      .profile {
        position: relative;
        z-index: 9;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          cursor: pointer;
        }
        .profile__actions {
          position: absolute;
          top: 98%;
          left: -80px;
          left: 0;
          width: 150px;
          z-index: 10;
          padding: 15px;
          display: flex;
          flex-direction: row;
          align-items: center;
          background: #fff;
          line-height: 30px;
          display: none;
          cursor: pointer;
        }
        .show__profileActions {
          display: block;
        }
      }
    }
  }

  .mobile__menu {
    font-size: 1.3rem;
    color: var(--primary-color);
    display: none;
    cursor: pointer;
  }
}
@media screen and (min-width: 769px) {
  .navigation h1 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 60px;

    .navigation h1 {
      position: fixed;
      right: -300px;
      top: 25vh;
      z-index: 30;
      font-size: 30px;
      transition: 0.7s;
      span {
        color: var(--pink-highlight);
      }
    }
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #0000006f;
      z-index: 20;
      display: block;
      transition: 0.7s;
    }
    .navigation .menu {
      position: fixed;
      width: 250px;
      height: 100%;
      top: 0;
      right: -250px;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: 0.2s;
      z-index: 20;
    }

    .active__block {
      .menu {
        right: 0;
        transition: 0.2s;
      }
      h1 {
        right: 30px;
      }
    }

    .mobile__menu {
      display: block;
    }

    .nav__wrapper .logo {
      h1 {
        font-size: 1rem;
      }
      img {
        width: 1rem;
        height: 1rem;
      }
    }

    .nav__icons {
      .fav__icon i,
      .cart__icon i {
        font-size: 1.2rem;
      }
    }
  }
}

.sticky__header {
  background: #fff;
  position: sticky;
  top: 0;
  box-shadow: 3px 3px 8px -3px #ddd;
  z-index: 10;
}
