.footer {
  background: var(--primary-color);
  color: #fff;
  h1 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .logo {
    display: flex;
    align-items: center;
    column-gap: 8px;

    img {
      width: 1.5rem;
      height: 1.5rem;
      color: #fff;
    }
  }
}
